/***************************
****************************
Theme Styles
****************************
***************************/

.background-primary {
    background: #F79222; /*Orange*/
  }
  .background-secondary {
    background: #00AEEF; /*Blue*/
  }
  .background-tertiary {
    background: #8DC63F; /*Green*/
  }
  .background-quaternary{
    background: #414042; /*Gray */
  }