.contact{
    background: $secondary;
    text-align: center;
        p{
        color: $light-white;
        font-size: 1em;
        }
   
   .map-container{
    padding: 15px 0 15px 0;
    height: 200px;
    position: relative;
   }
       
   }
   .map-heading{
       margin-top: -5px;
       margin-bottom: 5px;
       padding-left: 10px;
       text-align: left;
   }
.contact-info{
    padding-top: 10px;

    @include small-and-above{
    margin: 50px 0;
        }
}
